.briny { background-color: #222222; color: #777777; text-align: center; padding: 20px;}
.menu  { background-color: #222222;}
.menu a {
  float: left;
  display: block;
  color: #424949;
  text-align: center;
  padding: 14px 16px;
}
.menu a:hover {
  background-color: #ddd;
  color: black; }

.menu b { color: #333333;}
.xixi { width: 200%;}
.noidung { width: 300%; height: 300%;}




