.briny
{ background-color: #DDDDDD; color: #666666; text-align: center; padding: 20px;}
.bee
{ float: left; display: block;}
.header { color: red; background-color: darkgrey; padding: 15px; text-align: center; width: 100%; height: 100%;}
.menu  { background-color: lightgrey;}
.menu b { color: #333333;}
.menu a:hover{ color: #999999;}
.noidung {}
